ipykernel
openai
langchain
tiktoken
networkx
faiss-cpu
wikipedia
duckduckgo-search
langchain_experimental
numexpr
torch
transformers
pillow
fitz
pymupdf
chromadb
sentence_transformers
python-dotenv
langchain-openai
pypdf
pdf2image
unstructured
pillow_heif
opencv-python